.tracked-courses-view {
  text-align: center;
  margin: 100px 0;
}

.tracking-title-label {
  font-weight: 500;
  font-size: 20px;
}

.tracking-subtitle-label {
  font-weight: 500;
  font-size: 16px;
  color: #9EA7B3;
}

.num-available-label {
  color: #47C753;
  font-weight: 600;
  font-size: 24px;
}

.num-awaiting-label {
  color: #050505;
  font-weight: 600;
  font-size: 24px;
}
