.tracked-courses-view {
  text-align: center;
  margin-top: 100px;
}

.tracking-title-label {
  font-weight: 500;
  font-size: 20px;
}

.tracking-subtitle-label {
  font-weight: 500;
  font-size: 16px;
  color: #9EA7B3;
}
