.search-container {
  width: 50%;
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 40vw;
  height: 40px;
  /* margin-top: 80px; */
  margin: 0;
  background: #FFFFFF;
  border: 1px solid #EBECEE;
  border-radius: 15px 15px 0px 0px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  border: 0;
  flex: 1;
  font-weight: 600;
  font-size: 16px;
}

.search-input:focus {
  outline-width: 0;
}

.search-results-dropdown {
  position: fixed;
  width: 70vw;
  margin-top: 122px;
  background: #FFFFFF;
  box-sizing: border-box;
  border: 1px solid #EBECEE;
  border-radius: 0px 0px 15px 15px;
  z-index: 99;
}

.search-result {
  display: flex;
  align-items: center;
  justify-content: left;
  font-weight: 600;
  font-size: 16px;
}

.search-icon {
  padding: 12px 16px;
}

.result-text {
  margin: 0;
}
