.nav-view {
  top: 0;
  position: fixed;
  background-color: #222;
  width: 100%;
  display: inline-block;
  padding: 15px;
}

.nav-view a {
  font-weight: bold;
  color: #EEE;
  text-decoration: none;
}

.nav-view a:hover {
  opacity: 0.8;
}

.nav-left {
  float: left;
  font-size: 18px;
}

.nav-right {
  float: right;
  font-size: 14px;
  padding-right: 15px;
}